<div class="banner">
	<span class="reduce glyphicon glyphicon-minus"></span>
	<span class="increase glyphicon glyphicon-plus hidden"></span>
	<div class="title">Angekommen in Europa</div>
	<div class="description">Typisch Ost, typisch West: Zehn Jahre nach der EU-Erweiterung kann davon keine Rede sein. Ob Korruption oder Rekordernten, persönliches Glück oder ungleiche Bezahlung – Europa ist vielfältiger, als es die Klischees vermuten lassen. Die ostpol-Karte zum zehnten Jahrestag der Osterweiterung präsentiert einige der bemerkenswertesten Daten.</div>
	<button type="button" class="filter btn btn-default btn-xs hidden">Genauer hinsehen</button>
</div>