<div class="stories">
	<div class="story">
		<div class="title">Poland</div>
		<div class="description">Apples #1 export</div>
	</div>
	<div class="story">
		<div class="title">Poland</div>
		<div class="description">Apples #1 export</div>
	</div>
	<div class="story">
		<div class="title">Poland</div>
		<div class="description">Apples #1 export</div>
	</div>
	<div class="story">
		<div class="title">Poland</div>
		<div class="description">Apples #1 export</div>
	</div>
	<div class="story">
		<div class="title">Poland</div>
		<div class="description">Apples #1 export</div>
	</div>
	<div class="story">
		<div class="title">Poland</div>
		<div class="description">Apples #1 export</div>
	</div>
</div>