<div class="panel stories">
	<div class="story template">
		<div class="title">
			<span class="glyphicon glyphicon-chevron-right"></span>
			Poland
		</div>
		<div class="story">Apples #1 export</div>
	</div>

	<div class="subpanel">
		<div class="title">
			<span class="glyphicon glyphicon-chevron-right"></span>
			Der Frust zieht nach Süden
		</div>
		<div class="story" data-story="n-ost_Project_1">Der Frust zieht nach Süden</div>
	</div>
	<div class="subpanel">
		<div class="title">
			<span class="glyphicon glyphicon-chevron-right"></span>
			Wo der <span class="nowrap">EU-Beitritt</span> wirklich zum <span class="nowrap">Export-Boom</span> führte
		</div>
		<div class="story" data-story="n-ost_Project_2">Wo der <span class="nowrap">EU-Beitritt</span> wirklich zum <span class="nowrap">Export-Boom</span> führte</div>
	</div>
	<div class="subpanel">
		<div class="title">
			<span class="glyphicon glyphicon-chevron-right"></span>
			Osteuropa wird weniger korrupt - Südeuropa tritt auf der Stelle
		</div>
		<div class="story" data-story="n-ost_Project_3">Osteuropa wird weniger korrupt - Südeuropa tritt auf der Stelle</div>
	</div>
	<div class="subpanel">
		<div class="title">
			<span class="glyphicon glyphicon-chevron-right"></span>
			Die größten Stücke vom europäischen Apfel-Kuchen
		</div>
		<div class="story" data-story="n-ost_Project_4">Die größten Stücke vom europäischen Apfel-Kuchen</div>
	</div>
	<div class="subpanel">
		<div class="title">
			<span class="glyphicon glyphicon-chevron-right"></span>
			Frauenpower im Baltikum?</span>
		</div>
		<div class="story" data-story="n-ost_Project_5">Frauenpower im Baltikum?</div>
		<div class="story" data-story="n-ost_Project_5b">Frauenpower im Baltikum DEUX?</div>
	</div>
	<div class="subpanel">
		<div class="title">
			<span class="glyphicon glyphicon-chevron-right"></span>
			Der Osten bleibt Europa treu
		</div>
		<div class="story" data-story="n-ost_Project_6">Der Osten bleibt Europa treu</div>
	</div>
	<div class="subpanel">
		<div class="title">
			<span class="glyphicon glyphicon-chevron-right"></span>
			Der Osten bleibt Europa treu
		</div>
		<div class="story" data-story="n-ost_Project_6b">Der Osten bleibt Europa treu</div>
	</div>
</div>
